---
import '../styles/global.css'

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

// Get base URL from environment variable, fallback to production URL
const SITE_URL = import.meta.env.PUBLIC_SITE_URL || 'https://hacksore.com';

// Helper function to chose the right url for based on prod or dev
function getOgImageUrl(url: string): string {
  if (import.meta.env.DEV) {
    return SITE_URL + url;
  }
  return url;
}

const { 
  title = "Sean Boult - Portfolio Site",
  description = "Full Stack Developer Who Likes React",
  ogImage = "https://hacksore.com/img/og.png"
} = Astro.props;


// Convert ogImage to absolute URL if it's relative
const ogImageUrl = getOgImageUrl(ogImage);
console.log(ogImageUrl);

const META_INFO = {
  title,
  description,
  ogImage: ogImageUrl,
};
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{META_INFO.title}</title>
		<meta name="description" content={META_INFO.description} />
		<meta property="og:title" content={META_INFO.title} />
		<meta property="og:description" content={META_INFO.description} />
		<meta property="og:image" content={ogImageUrl} />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={META_INFO.title} />
		<meta name="twitter:description" content={META_INFO.description} />
		<meta name="twitter:image" content={ogImageUrl} />
	</head>
	<body>
		<main class="max-w-3xl my-10 mx-auto">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
